html, input {
    font-family: "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

body{
	margin:0;
	padding:0;
	color:#3FA9F5;
}

header{
	display: flex;
	margin:0 auto;
	align-items: center;
    justify-content: center;
}

c1 {
	color: #FFFF85;
}
c2 {
	color: #FFCE00;
}
c3 {
	color: #FEA500;
}
c4 {
	color: #FD8702;
}
c5 {
	color: #FE6100;
}
c6 {
	color: #FF3A00;
}
c7 {
	color: #FF0202;
}
div.tooltip {
	position: absolute;
	text-align: center;
	width: 60px;
	height: 28px;
	padding: 2px;
	font: 12px sans-serif;
	background: white;
	border: 0px;
	border-radius: 8px;
	pointer-events: none;
}
.heading{
	min-width:400px;
	vertical-align: center;
	margin-left:25px;
}

.flex-child{
	margin-top:120px;
}

h1 {
	text-rendering: optimizeLegibility;
	font-size: 3.5em;
	font-weight: bold;
	color:white;
	margin:2px 0;
	line-height: 55px;
}

#wrapper{
	margin:0;
	padding:0;
	background: url("../images/mapbg.svg");
	width: 100vw;
	background-repeat: no-repeat;
	background-size:cover;
	height: 100vh;
	overflow-y: hidden;
	-webkit-transition: background 1s ease-in-out;
	transition: background 1s ease-in-out;
}

header p{
	margin-top:20px;
	color:white;
}

/* Legend */
ul {
	padding: 0;
}

#legendbox li {
	list-style-type: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 0.9em;
	margin-right: 1.5em;
}
#legendbox li div {
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	border-radius: 50%;
	background-color: #3CB371;
}

#legendbox li div.happy {
	background-color: #f7ff00;
}
#legendbox li div.neutral {
	background-color: #e89259;
}

#legendbox li div.sad {
	background-color: #db36a4;
}

#legendbox img{
	display:block;
	margin: 0 auto;
	margin-top:40px;
}

#legendbox ul{
	text-align: center;
}

/*Search*/
input[type=text] {
    display: inline-block;
    font-size:25px;
    border:none;
    width:320px;
}

button{
	border: 0;
	background: none;
	box-shadow:none;
	border-radius: 0px;
    color: #3FA9F5;
    padding:5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    position: relative;
    z-index: 1;
    left: -50px;
    top:-2px;
    cursor:pointer;
}

.main button:hover {
}


.main button:hover > .fa-search{
	
}

#select{
	width: 320px;
	margin:20px 0px;
	font-size:1.2em;
}

/*Logo*/
#srch2{
	border:2px solid #3FA9F5;
	opacity: 0;
	transition-duration: 0.3s;
}

.logo img{
	height:auto;
	width:270px;
	opacity: 0;
}

/*Flexbox for second page*/
#flex-container{
	display: flex;
    justify-content: center;
    padding-top:60px;
}

#info{
	width: 320px;
	opacity: 0;
	transition-duration: 0.3s;
}

.flex-item{
	padding-left: 100px;
}
.flex-item2{
	order:2;
}

a{
	font-weight: bold;
	color:#3FA9F5;
	transition-duration: 0.3s;
	outline:0;
}

a:hover{
	color:#db36a4;
}

/*Map*/

path {
  stroke: white;
  stroke-width: 1.5px;
}

#map{
	width: 100%;
	text-align: center;
}

#map svg {
	margin:-80px 0px;
}

#map, #legendbox, #select{
	opacity: 0;
	transition: opacity 2s;
}

/* Font Awesome */

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.fa-twitter:before {
  content: "\f099";
}

.fa-twitter {
	color: #fff;
	font-size:270px;

}

.fa-search:before{
	content:"\f002";
}

.fa-search{
    color: #3FA9F5;
}

footer{
	display:none;
}

button:focus, input:focus {outline:0;}